<p id="notice"><%= notice %></p>

<h1>Calc Inputs</h1>

<table>
  <thead>
    <tr>
      <th>Calc</th>
      <th>Calc input</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calc_inputs.each do |calc_input| %>
      <tr>
        <td><%= calc_input.calc_id %></td>
        <td><%= calc_input.calc_input_id %></td>
        <td><%= link_to 'Show', calc_input %></td>
        <td><%= link_to 'Edit', edit_calc_input_path(calc_input) %></td>
        <td><%= link_to 'Destroy', calc_input, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calc Input', new_calc_input_path %>
