<h3>Values from Answers</h3>

<% AflierSurvey::QuestionSection.all.order(:name).each do |question_section| %>
  <div class="btn btn-outline-primary btn-block" data-toggle="collapse" data-target="#section-<%= question_section.id %>" aria-expanded="false" aria-controls="collapseExample">
    <%= question_section.name %>
  </div>

  <div id="section-<%= question_section.id %>" class="collapse">
    <div id="" class="card">
      <% unless question_section.questions.where(question_type: AflierSurvey::Question::CALCULATION_TYPE).empty? %>
        <ul class="list-group list-group-flush">
          <% question_section.questions.where(question_type: AflierSurvey::Question::CALCULATION_TYPE).order(:position).each do |question| %>
            <li class="list-group-item">
              <%= link_to question.name, var_one_calc_path(@calc, question_id: question.id), class: " btn #{ @calc.is_first_question?(question) ? 'btn-primary' : 'btn-outline-secondary' } btn-block" %>

              <% if @calc.is_first_question?(question) %>
                <script>
                  $('#section-<%= question_section.id %>').collapse('show');
                </script>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>
