<div class="text-center mt-5" id="submissions-bar" data-aflier-survey-target="submitBar">

  <% if submitted %>
    <div class="btn btn-success btn-lg disabled" style="margin-bottom: 2em;">
      Submitted!
    </div>
    <%= raw questionnaire.thank_you %>
  <% elsif questionnaire.is_saved?(unique_ident) %>
    <span class="btn btn-outline-primary btn-lg disabled">Saved!</span>
    <% if questionnaire.include_submit %>
      <button data-questionnaire-target="submit" data-action="click->aflier-survey#submit"
              name="<%= aflier_survey.submit_questionnaire_path(questionnaire, unique_ident: unique_ident) %>"
              class="btn btn-primary btn-lg">
        <%= AflierSurvey.configuration.submit_button_text ? AflierSurvey.configuration.submit_button_text : "Save and Submit" %>
      </button>
    <% end %>
  <% else %>
    <button data-questionnaire-target="submit" data-action="click->aflier-survey#submit"
            name="<%= aflier_survey.save_questionnaire_path(questionnaire, unique_ident: unique_ident) %>"
            class="btn btn-primary btn-lg">
      <%= AflierSurvey.configuration.save_button_text ? AflierSurvey.configuration.save_button_text : 'Save' %>
    </button>

    <% if questionnaire.include_submit %>
      <button data-questionnaire-target="submit" data-action="click->aflier-survey#submit"
              name="<%= aflier_survey.submit_questionnaire_path(questionnaire, unique_ident: unique_ident) %>"
              class="btn btn-primary btn-lg">
        <%= AflierSurvey.configuration.submit_button_text ? AflierSurvey.configuration.submit_button_text : "Save and Submit" %>
      </button>
    <% end %>
  <% end %>

</div>