<h1>Edit Questionnaire</h1>

<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to 'All Sections', questionnaires_path %></li>
  <li class="breadcrumb-item active"><%= @questionnaire.name %></li>
</ol>

<div class="row">
  <div class="col-md-6">
    <h2>Initial Question Sections</h2>

    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th></th>
      </tr>
      </thead>
      <% @belonging_sections.order(:position).each do |belonging_section| %>
        <tr>
          <td><%= belonging_section.position %></td>
          <td>
            <%= link_to belonging_section.question_section.name, edit_question_section_path(belonging_section.question_section) %>
          </td>
          <td class="text-end">
            <div class=" btn-group btn-group-sm">
              <%= link_to raw('<i class="fas fa-arrow-up"></i>'), up_belonging_section_path(belonging_section), class: "btn btn-outline-primary" unless belonging_section.position == 0 %>
              <%= link_to raw('<i class="fas fa-arrow-down"></i>'), belonging_section, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %>
              <%= link_to icons__thumb_down, exclude_question_section_path(belonging_section.question_section, questionnaire_id: @questionnaire.id), class: "btn btn-outline-success" %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>

    <div class="card shadow mb-3">

      <div class="card-header">Other Question Sections</div>
      <div class="card-body">

        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
          </thead>
          <% @all_sections.order(:name).each do |question_section| %>
            <tr style="<%= 'display: none' unless question_section.in_questionnaire?(@questionnaire) %>">
              <td><%= question_section.name %></td>
              <td class="text-end">
                <div class=" btn-group btn-group-sm">
                  <%= link_to icons__thumb_up, include_question_section_path(question_section, questionnaire_id: @questionnaire.id), class: "btn btn-outline-success" %>
                  <%= link_to icons__edit, edit_question_section_path(question_section), class: "btn btn-outline-primary" %>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <%= simple_form_for(@questionnaire, :html => { :class => 'form-vertical' }) do |f| %>
      <%= f.input :name %>
      <%= f.input :key %>

      <label>Purpose</label>
      <%= f.rich_text_area :purpose %>
      <label>On Completion</label>
      <%= f.rich_text_area :on_completion %>

      <p>For longer questionnaires you may wish to have a complete button/indicator on each question section.</p>
      <%= f.input :complete_on_sections %>
      <%= f.input :include_submit %>

      <%= f.button :submit, class: "btn-primary" %>
    <% end %>

    <br>

    <div class="alert alert-info">
      <p><b>Follow On:</b> Follow-on sections do note need to be included in the "Initial Question Sections" table. Their inclusion
        is specified within the questions that trigger the inclusion of the extra sections.</p>

      <p><b>Initial Sections:</b> Please use the following buttons to include or exclude the sections that are
        displayed when first looking at a questionnaire.</p>

      <p><%= link_to raw('<i class="far fa-hand-point-up"></i>'), '#', class: "btn btn-sm btn-outline-success" %> Include in Questionnaire<br>
      <p><%= link_to raw('<i class="far fa-hand-point-down"></i>'), '#', class: "btn btn-sm btn-outline-danger" %> Exclude from Questionnaire</p>
    </div>
  </div>
</div>