<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#newquestion_section">Edit</button>

<div class="modal fade" id="newquestion_section" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <%= simple_form_for(@question_section) do |f| %>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Question section</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :restrict_controls %>
          <%= f.input :default_open %>
          <h4>Repeated Section</h4>
          <%= f.input :many %>
          <%= f.input :repeat_has_date  %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
          <%= f.button :submit, class: 'btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>