<div class="mb-3 <%= 'card border-danger' if required_warning or (show_required and question.is_required?(unique_ident)) %>">
  <div class="<%= 'card-body text-danger' if required_warning or (show_required and question.is_required?(unique_ident)) %>">
    <% unless question.question_type == AflierSurvey::Question::SELECT_ONE %>
      <i class="far fa-save float-right mt-3 save-state" style="color: #4db197f7"></i>
      <i class="far fa-save float-right mt-3 unsave-state" style="color: #F04124; display: none"></i>
    <% end %>
    <label><%= '*' if question.required %> <%= question.name %></label>

    <% unless question.text_hint.blank? %>
      <p><%= question.text_hint %></p>
    <% end  %>

    <% unless question.help.blank? %>
      <a id="help-text" data-toggle="collapse" href="#question-help-<%= question.id %>" aria-expanded="false" aria-controls="collapseExample">
        <i class="far fa-question-circle" aria-hidden="true" style="font-size: 20px; margin-top:2px"></i>
      </a>
    <% end %>

    <% unless question.help.blank? %>
      <div class="collapse" id="question-help-<%= question.id %>">
        <div class="card card-body border-secondary" style="margin-bottom: 0.5rem;">
          <%= raw question.help %>
        </div>
      </div>
    <% end %>

    <div>
      <% if question.question_type == AflierSurvey::Question::DATE %>
        <div class="autosave">
          <%= simple_form_for [aflier_survey, answer], remote: true do |f| %>
            <%= f.input :a_date, start_year: Date.today.year - 110, label: false, :order => [:day, :month, :year] %>
          <% end %>
        </div>
      <% elsif question.question_type == AflierSurvey::Question::TEXT %>
        <div class="autosave">
          <%= render 'stimulus/edit_in_place/general_input',
                     field_type: :textarea,
                     klass: answer,
                     attribute: :some_text,
                     options: { url: aflier_survey.answer_path(answer),
                                value: answer.some_text} %>
        </div>
      <% elsif question.question_type == AflierSurvey::Question::DECIMAL %>
        <div class="autosave">
          <%= simple_form_for [aflier_survey, answer], remote: true do |f| %>
            <%= f.input :a_decimal, label: false %>
          <% end %>
        </div>
      <% elsif question.question_type == AflierSurvey::Question::WHOLE_NUMBER %>
        <div class="autosave">
          <%= simple_form_for [aflier_survey, answer], remote: true do |f| %>
            <%= f.input :an_integer, label: false %>
          <% end %>
        </div>
      <% elsif question.question_type == AflierSurvey::Question::YES_OR_NO %>
        <%= link_to (answer.a_boolean ? icons__radio_on : icons__radio_off ) + ' Yes',
                    aflier_survey.choice_answer_path(answer, choice: 'yes'),
                    class: "btn",
                    remote: true %>
        <%= link_to (answer.a_boolean == false ? icons__radio_on : icons__radio_off) + ' No',
                    aflier_survey.choice_answer_path(answer, choice: 'no'),
                    class: "btn",
                    remote: true %>
        <br><br>
      <% elsif question.question_type == AflierSurvey::Question::SECTION_ON_YES or question.question_type == AflierSurvey::Question::SECTION_ON_NO %>
        <%= link_to 'Yes', aflier_survey.choice_answer_path(answer, choice: 'yes'),
                    class: "btn btn-" + (answer.a_boolean? ? 'success' : 'outline-primary').to_s, remote: true %>
        <%= link_to 'No', aflier_survey.choice_answer_path(answer, choice: 'no'),
                    class: "btn btn-" + (answer.a_boolean == false ? 'success' : 'outline-primary').to_s, remote: true %>
        <br><br>
      <% elsif question.question_type == AflierSurvey::Question::TEXT_ON_YES %>
        <%= link_to 'Yes', aflier_survey.choice_answer_path(answer, choice: 'yes'), class: "btn btn-" + (answer.a_boolean? ? 'success' : 'outline-primary').to_s, remote: true %>
        <%= link_to 'No', aflier_survey.choice_answer_path(answer, choice: 'no'), class: "btn btn-" + (answer.a_boolean == false ? 'success' : 'outline-primary').to_s, remote: true %>

        <% if answer.a_boolean? %>
          <div>
            <%= question.comment_text_hint %>
            <%= render 'stimulus/edit_in_place/general_input',
                       field_type: :textarea,
                       klass: answer,
                       attribute: :some_text,
                       options: { url: aflier_survey.answer_path(answer),
                                  value: answer.some_text} %>
          </div>
        <% end %>
      <% elsif question.question_type == AflierSurvey::Question::SELECT_ONE %>
        <span data-questionnaire-target="submit" data-action="click->aflier-survey#refresh">
        <% question.options.order(:position).each do |option| %>
          <p>
            <% if answer.user_chose(option, answer) %>
              <%= link_to icons__radio_on, aflier_survey.option_choice_answer_path(answer, option_id: option.id), remote: true %> <%= option.name %>
            <% else %>
              <%= link_to icons__radio_off, aflier_survey.option_choice_answer_path(answer, option_id: option.id), id: "option-#{option.id}", remote: true %> <%= option.name %>
            <% end %>
          </p>
        <% end %>
        </span>
        <% if question.text_on_other %>
          <% if answer.other %>
            <%= link_to icons__radio_on, aflier_survey.other_answer_path(answer), remote: true, id: 'other-option' %> Other
          <% else %>
            <%= link_to icons__radio_off, aflier_survey.other_answer_path(answer), remote: true, id: 'other-option' %> Other
          <% end %>
        <% end %>


        <% if answer.other? and answer.question.text_on_other? %>

          <div class="autosave">
            <%= render 'stimulus/edit_in_place/general_input',
                       field_type: :textarea,
                       klass: answer,
                       attribute: :some_text,
                       options: { url: aflier_survey.answer_path(answer),
                                  value: answer.some_text} %>
          </div>

        <% end %>

      <% elsif question.question_type == AflierSurvey::Question::SELECT_MANY %>
        <span data-questionnaire-target="submit" data-action="click->aflier-survey#refresh">

        <% question.options.order(:position).each do |option| %>
          <p>
            <% if answer.user_chose(option, answer) %>
              <%= link_to icons__checked_box, aflier_survey.option_choice_answer_path(answer, option_id: option.id), remote: true %> <%= option.name %>
            <% else %>
              <%= link_to icons__square, aflier_survey.option_choice_answer_path(answer, option_id: option.id), remote: true %> <%= option.name %>
            <% end %>
          </p>
        <% end %>

          <% if question.text_on_other %>
          <% if answer.other %>
            <%= link_to icons__radio_on, aflier_survey.other_answer_path(answer), remote: true, id: 'other-option' %> Other
          <% else %>
            <%= link_to icons__radio_off, aflier_survey.other_answer_path(answer), remote: true, id: 'other-option' %> Other
          <% end %>
        <% end %>

          <% if answer.other? and answer.question.text_on_other? %>

          <div class="autosave">
            <%= render 'stimulus/edit_in_place/general_input',
                       field_type: :textarea,
                       klass: answer,
                       attribute: :some_text,
                       options: { url: aflier_survey.answer_path(answer),
                                  value: answer.some_text} %>
          </div>

        <% end %>
        </span>
      <% elsif question.question_type == AflierSurvey::Question::OUT_OF %>
        <% (question.minimum .. question.maximum).each do |choice| %>

          <% if questionnaire.lock_on_submit and questionnaire.is_locked?(unique_ident, false) %>
            <div class="<%= "btn btn-#{(answer.score_given?(choice) ? 'success' : 'outline-primary')}" %>"><%= choice.to_s %></div>
          <% else %>
            <%= link_to choice.to_s,
                        aflier_survey.choice_answer_path(answer, choice: choice),
                        class: "btn btn-" + (answer.score_given?(choice) ? 'success' : 'outline-primary').to_s, remote: true %>
          <% end %>
        <% end %>
      <% elsif question.question_type == AflierSurvey::Question::FILE_UPLOAD %>
        <% if false and answer.file&.file&.exists? %>
          <p><%= link_to 'Download existing document', answer.file_url, target: :_blank %></p>
          <%= simple_form_for [aflier_survey, answer], html: {multipart: true} do |f| %>
            <%= f.input :file, label: false %>
            <%= f.button :submit, "Replace Document", class: 'btn-outline-primary' %>
          <% end %>
        <% else %>
          <%= simple_form_for [aflier_survey, answer], html: {multipart: true} do |f| %>
            <%= f.input :file, label: false %>
            <%= f.button :submit, "upload Document", class: 'btn-outline-primary' %>
          <% end %>
        <% end %>
      <% elsif question.question_type == AflierSurvey::Question::RESULT %>
        <%= render 'aflier_survey/questions/show_result', question: question, answer: answer, repeat_section: answer.repeat_section %>
      <% elsif question.question_type == AflierSurvey::Question::CALCULATION %>
        <div class="form-group">
          <div class="form-control" id="exampleInputPassword1"><%= question.get_calculation(unique_ident, answer.repeat_section) %></div>
        </div>
      <% elsif question.question_type == AflierSurvey::Question::CALCULATION_LONG %>
        <% if question.calc.operation == AflierSurvey::Calc::LOWEST %>
          <% lowest_question = question.calc.get_lowest(@user, answer.repeat_section) %>

          <div class="row">
            <% question.calc.questions.each do |question| %>
              <div class="col">
                <div class="<%= 'lowest-percentage' if question.is_lowest?(lowest_question) %> text-center" >
                  <span style="font-size:60px"><%= question.percentage(@user, answer.repeat_section) %>%</span><br>
                  <h4><%= question.name %></h4>
                </div>
              </div>
            <% end %>
          </div>
          <div class="lowest-percentage-description"><%= raw lowest_question.get_description(@user) unless lowest_question.is_a? String %></div>
        <% elsif question.calc.operation == AflierSurvey::Calc::AVERAGE %>
          <div class="form-group">
            <div style="text-align: center; font-size:60px"><%= question.percentage(@user, answer.repeat_section) %>%</div>
            <p><%= raw question.get_description(@user, answer.repeat_section) %></p>
          </div>
        <% else %>
          <div class="form-group">
            <div style="text-align: center; font-size:60px"><%= question.percentage(@user, answer.repeat_section) %>%</div>
            <p><%= raw question.get_description(@user, answer.repeat_section) %></p>
          </div>
        <% end %>
      <% else %>
        <div class="autosave">
          <%= simple_form_for [aflier_survey, answer], remote: true do |f| %>
            <%= render 'stimulus/edit_in_place/string_input',
                       klass: answer,
                       attribute: :a_string,
                       options: { url: aflier_survey.answer_path(answer),
                                  value: answer.a_string} %>
          <% end %>
        </div>
      <% end %>

      <% if question.allow_not_sure? %>
        <%= link_to 'Not sure', choice_answer_path(answer, choice: AflierSurvey::Answer::NOT_SURE), class: "btn btn-" + (answer.not_sure? ? 'warning' : 'outline-primary').to_s, remote: true %>
        <br><br>
      <% end %>

      <% if @required_warning %>
        <p>Field cannot be blank</p>
      <% end %>

    </div>
  </div>
</div>