<button type="button" class="btn btn-primary btn-block btn-sm float-end" data-bs-toggle="modal" data-bs-target="#newquestion">New Question</button>

<div class="modal fade" id="newquestion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <%= simple_form_for([@question_section, @question_section.questions.build]) do |f| %>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Question</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= f.input :name %>
        <%= f.input :question_type, collection: AflierSurvey::Question::QUESTION_TYPES, include_blank: false %>
        <%= f.input :text_hint, hint: "Extra hint text to be placed before a comment box in 'Text on Yes'" %>
        <%= f.input :allow_not_sure %>
        <%= f.input :help %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn" data-bs-dismiss="modal">Close</button>
        <%= f.button :submit, class: 'btn-outline-primary' %>
      </div>
    </div>
  </div>
  <% end %>
</div>