<div class="row">
  <div class="col-md-2">
    <div class="btn-group-vertical btn-block">
      <%= render 'questions_list' %>
    </div>

  </div>
  <div class="col-md-7">
    <% if @question.question_type == AflierSurvey::Question::RESULT and @question.result_type == AflierSurvey::Question::GROUPING %>

      <div class="row">
        <div class="col-md-6">
          <%= render 'result_types' %>
        </div>
        <div class="col-md-6">
          <% if false %>
            <h3>Result Groupings</h3>

            <% ResultGrouping.all.order(:name).each do |result_grouping| %>
              <%= link_to grouping_question_path(@question, result_grouping_id: result_grouping.id) do %>
                <% if result_grouping == @question.result_grouping %>
                  <i class="far fa-dot-circle"></i>
                <% else %>
                  <i class="far fa-circle"></i>
                <% end %>

                <%= result_grouping.name %><br>
              <% end %>
            <% end %>
          <% end  %>
        </div>
      </div>

    <% elsif @question.question_type == AflierSurvey::Question::RESULT %>
      <div class="row">
        <div class="col-md-6">
          <%= render 'result_types' %>

          <h2>Calculations</h2>

          <% AflierSurvey::Calc.all.order(:name).each do |calc| %>
            <%= link_to calc.name, calc_question_path(@question, calc_id: calc.id), class: "btn btn-#{@question.calc_id == calc.id ? '' : 'outline-'}primary btn-block" %>
          <% end %>
        </div>
        <div class="col-md-6">
          <h3>Values from Answers</h3>

          <% AflierSurvey::QuestionSection.all.order(:name).each do |question_section| %>
            <div class="btn btn-outline-primary btn-block" data-toggle="collapse" data-target="#section-<%= question_section.id %>" aria-expanded="false" aria-controls="collapseExample">
              <%= question_section.name %>
            </div>

            <div id="section-<%= question_section.id %>" class="collapse <%= 'show' if question_section.questions.find_by(id: @question.question_id) or question_section.questions.find_by(id: @question.question_y_id) %>">
              <div id="" class="card">
                <% unless question_section.questions.where(question_type: AflierSurvey::Question::CALCULATION_TYPE).empty? %>
                  <ul class="list-group list-group-flush">
                    <% question_section.questions.where(question_type: AflierSurvey::Question::CALCULATION_TYPE).order(:position).each do |question| %>
                      <li class="list-group-item">
                        <%= link_to question.name, feed_question_path(@question, question_id: question.id), class: "btn #{ (@question.question_id == question.id or @question.question_y_id == question.id) ? 'btn-primary' : 'btn-outline-secondary' } btn-block" %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <% if @question.result_type == AflierSurvey::Question::TABLE %>
        <%= render 'table_weighting' %>
      <% else %>
        <%= render 'question_weighting' if false %>
      <% end %>

    <% elsif @question.links_to_section? %>
      <h2><%= @question.question_section.name %></h2>

      <% AflierSurvey::QuestionSection.all.order(:name).each do |question_section| %>
        <%= link_to question_section.name, following_question_path(@question, question_section_id: question_section.id), class: "btn btn#{@question.following_section_id == question_section.id ? '' : '-outline'}-primary btn-block" %>
      <% end %>

      <br>
      <%= render 'question_weighting' %>

    <% elsif @question.weighting_on_value_given %>
      <%= render 'question_weighting' %>

    <% elsif @question.question_type == AflierSurvey::Question::SELECT_ONE or @question.question_type == AflierSurvey::Question::SELECT_MANY %>
      <h2>Question options</h2>

      <table class="table">
        <thead>
        <tr>
          <th>Option</th>
          <th>value</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @options.each do |option| %>
          <tr>
            <td><%= option.name %></td>
            <td><%= option.a_decimal %></td>
            <td>
              <div class="float-right btn-group">
                <%= link_to raw('<i class="fa fa-arrow-up" aria-hidden="true"></i>'), up_option_path(option), class: "btn btn-outline-secondary btn-sm" unless option.position == 0 %>
                <%= link_to 'Edit', edit_option_path(option), class: "btn btn-outline-secondary btn-sm" %>
                <%= link_to 'Destroy', option, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %>
              </div>
            </td>
          </tr>
        <% end %>
        <tr>
          <% if @question.text_on_other %>
            <td>Other</td>
            <td>
              <div class="float-right">
                <%= link_to 'Remove "Other"', toggle_other_question_path(@question), class: "btn btn-outline-warning btn-sm" if @question.text_on_other %>
              </div>
            </td>
          <% end %>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td>
            <div class="float-right">
              <%= link_to 'Add "Other"', toggle_other_question_path(@question), class: "btn btn-outline-primary btn-sm" unless @question.text_on_other %>
              <%= render '/options/form' %>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <%= render 'option_weighting' %>
    <% end %>
  </div>

  <div class="col-md-3">

    <div class="card">
      <ul class="list-group list-group-flush">
        <% if @question.result_type == AflierSurvey::Question::TABLE %>
          <li class="list-group-item">
            <h4>Bounds (x):</h4>
            <%= @question.bounds_x %>
          </li>
          <li class="list-group-item">
            <h4>Bounds (y):</h4>
            <%= @question.bounds_y %>
          </li>
        <% elsif @question.result_type == AflierSurvey::Question::GROUPING and false %>
          <li class="list-group-item">
            <h4><%= tick @question.details %> Show Details:</h4>
          </li>
        <% end %>
      </ul>
      <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#editQuestion">
        Edit Question
      </button>
    </div>


    <!-- Modal -->
    <%= simple_form_for(@question) do |f| %>
      <div class="modal fade" id="editQuestion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Question</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= f.input :name %>
              <%= f.input :text_hint, hint: "Extra hint text to be placed before a comment box in 'Text on Yes'" %>
              <%= f.input :allow_not_sure %>
              <%= f.input :help %>
              <%= f.input :required %>

              <% if @question.question_type == AflierSurvey::Question::YES_OR_NO %>
                <%= f.input :value_true %>
                <%= f.input :value_false %>
              <% end %>

              <% if @question.result_type == AflierSurvey::Question::TABLE %>
                <%= f.input :bounds_x %>
                <%= f.input :bounds_y %>
              <% end %>

              <% if @question.result_type == AflierSurvey::Question::GROUPING and false %>
                <h4>Result Groups</h4>
                <p>By selecting below you will see the inputs that make up the Result Grouping score.</p>
                <%= f.input :details %>
              <% end %>

              <%= f.association :question_section, include_blank: false %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.button :submit, class: "btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>