<div data-questionnaire-target="submit"
     data-controller="select-one"
     data-select-one-target="self"
     data-action="<%= 'click->aflier-survey#refresh' unless locked %>">

  <% question.options.order(:position).each do |option| %>
    <p>
      <% if answer.user_chose(option, answer) %>
        <button data-action="click->select-one#choice"
                class="btn btn-sm"
                data-select-one-path-param="<%= aflier_survey.option_choice_answer_path(answer, option_id: option.id) if !locked %>">
          <%= icons__checked_box %> <%= option.name %>
        </button>
      <% else %>
        <button data-action="click->select-one#choice"
                class="btn btn-sm"
                data-select-one-path-param="<%= aflier_survey.option_choice_answer_path(answer, option_id: option.id) if !locked %>">
          <%= icons__square %> <%= option.name %>
        </button>
      <% end %>
    </p>
  <% end %>


  <% if question.text_on_other %>
    <% if answer.other %>
      <button class="btn btn-sm"
              data-action="click->select-one#choice"
              data-select-one-path-param="<%= aflier_survey.other_answer_path(answer) unless locked %>">
        <%= icons__checked_box %> Other
      </button>
    <% else %>
      <button class="btn btn-sm"
              data-action="click->select-one#choice"
              data-select-one-path-param="<%= aflier_survey.other_answer_path(answer) unless locked %>">
        <%= icons__square %> Other
      </button>
    <% end %>
  <% end %>


  <% if answer.other? and answer.question.text_on_other? %>

    <div class="autosave">
      <%= render 'stimulus/edit_in_place/general_input',
                 field_type: :textarea,
                 klass: answer,
                 attribute: :some_text,
                 options: { url: aflier_survey.answer_path(answer),
                            value: answer.some_text } %>
    </div>

  <% end %>
</div>