<p id="notice"><%= notice %></p>

<h1>Option Answers</h1>

<table>
  <thead>
    <tr>
      <th>Answer</th>
      <th>Option</th>
      <th>Unique ident</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @option_answers.each do |option_answer| %>
      <tr>
        <td><%= option_answer.answer_id %></td>
        <td><%= option_answer.option_id %></td>
        <td><%= option_answer.unique_ident %></td>
        <td><%= link_to 'Show', option_answer %></td>
        <td><%= link_to 'Edit', edit_option_answer_path(option_answer) %></td>
        <td><%= link_to 'Destroy', option_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Option Answer', new_option_answer_path %>
