<button type="button" class="btn btn-block" data-bs-toggle="modal" data-bs-target="#newanswer">
  New Answer
</button>

<div class="modal fade" id="newanswer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <%= simple_form_for(@answer, :html => { :class => 'form-horizontal' },
        wrapper: :horizontal_form,
        wrapper_mappings: {
        check_boxes: :horizontal_radio_and_checkboxes,
        radio_buttons: :horizontal_radio_and_checkboxes,
        file: :horizontal_file_input,
        boolean: :horizontal_boolean
        }) do |f| %>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Answer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <%= f.association :question %>
            <%= f.association :user %>
            <%= f.input :a_string %>
            <%= f.input :some_text %>
            <%= f.input :a_decimal %>
            <%= f.input :an_integer %>
            <%= f.input :a_date %>
            <%= f.input :a_time %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.button :submit %>
      </div>
    </div>
  </div>
  <% end %>
</div>