<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>Answers</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-9">
		<table class="table">
		  <thead>
		    <tr>
                        <th>Question</th>
                        <th>User</th>
                        <th>A string</th>
                        <th>Some text</th>
                        <th>A decimal</th>
                        <th>An integer</th>
                        <th>A date</th>
                        <th>A time</th>
          		      <th></th>
		    </tr>
		  </thead>
		
		  <tbody>
		    <% @answers.each do |answer| %>
		      <tr>
				        <td><%= answer.question %></td>
				        <td><%= answer.user %></td>
				        <td><%= answer.a_string %></td>
				        <td><%= answer.some_text %></td>
				        <td><%= answer.a_decimal %></td>
				        <td><%= answer.an_integer %></td>
				        <td><%= answer.a_date %></td>
				        <td><%= answer.a_time %></td>
				        <td>
		        	<div class="pull-right btn-group">
			        	<%= link_to 'Show', answer, class: "btn btn-secondary btn-sm" %>
			        	<%= link_to 'Edit', edit_answer_path(answer), class: "btn btn-secondary btn-sm" %>
			        	<%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
							</div>
		        </td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
	<div class="col-md-3">
		<%= render 'form' %>
	</div>
</div>